{% extends 'common/base.html'%}
{% block title %}Playground{% endblock %}
{% block content%}
<div class="playground-view-outer">
    <div class="playground-view-inner">
        <h1>
            Try out!
        </h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'playground:upload_file' %}">
            {% csrf_token %}
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop audio clip here or click to upload</span>
                {% load widget_tweaks %}
                {{ form.audio_file | add_class:"drop-zone__input" }}
            </div>
            <button type="submit" class="glow-on-hover" value="Upload">
                Upload
            </button>
        </form>
        {% if file_submitted %}
            {% if upload_success %}
            <div class="header-main">
                Thanks!
            </div>
            {% else %}
            <div class="nav-text">
                {{ error_message }}
            </div>
            {% endif %}
        {% endif %}
        {% load static %}
        <script src="{% static 'common/script.js' %}"></script>
    </div>
</div>
{% endblock %}