body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #cccccc;
}

.username,
.password {
    padding: 5px;
}

.audio-upload-result {
    padding: 5px;
}

.playground-view-outer {
    width: 100%;
    text-align: center;
}

.playground-view-inner {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}

.add-sign-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.add-sign {
    width: 75px;
    height: 75px;
    font-size: 50px;
    border-radius: 50%;
    background: linear-gradient(45deg, #00ffd5, #ff00c8, #9b0101);
}

.upload-message-style {
    position: relative;
    font-size: medium;
    background-color: #cccccc;
    color: #000;
    border-radius: 5px;
    user-select: none;
    opacity: 35%;
}

.error {
    background-color: #ff0000;
    opacity: 50%;
}

.drop-zone {
    width: 256px;
    height: auto;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    background-color: #111;
    border: 2px dashed #18a17c;
    border-radius: 12px;
    padding: 5%;
    font-family: "JetBrains Mono Regular", Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 25px;
    cursor: hand;
    font-weight: bolder;
    font-family: "JetBrains Mono Regular", Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.header-main {
    font-size: 24px;
    font-weight: 600;
    background-image: linear-gradient(to left, #002bff, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.login-bg {
    background-color: #cccccc;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    color: #1d1d1d;
}

.login-bg::marker {
    color: #cccccc;
}


#result-data-table-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "JetBrains Mono Regular", Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.responsive-table {
    li {
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .table-header {
        background-image: linear-gradient(to left, #002bff, #55109a);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #a7a7a7;
        color: #000;
    }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 40%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {
            flex-basis: 100%;
        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.noresult {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    opacity: 50%;
    font-weight: bolder;
}